@using CapaNavDoc.Extensions
@using CapaNavDoc.ViewModel
@model ActionListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection
{
    Actions
}

@section HeaderSection
{
    <link href="~/Content/GridViewStyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/Dialog.js"></script>
}

@section ContentBody
{
    <div id="editDialog" style="display: none;"></div>
    <div id="confirmDialog" style="display: none;"></div>
    <script type="text/javascript">
        $(document)
            .ready(function() {
                initDialod("#editDialog", 320);
                initDialod("#confirmDialog", 340);
            });
    </script>

    <table class="GridViewTable ActionsTable">
        <tr>
            <th>
                Description
            </th>
            <th>
                Editer
            </th>
            <th>
                Supprimer
            </th>
        </tr>
        @foreach (ActionDetailsViewModel action in Model.ActionsDetails)
        {
            <tr>
                <td>
                    @action.Description
                </td>
                <td>
                    @Ajax.HtmlActionLink("<img src='/Content/Icons/Pencil-icon.png' />", "GetActionUpdateView", new { actionId = @action.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "editDialog", InsertionMode = InsertionMode.Replace, OnSuccess = "openPopup('#editDialog');" }, null)
                </td>
                <td>
                    @Ajax.HtmlActionLink("<img src='/Content/Icons/Close-2-icon.png' />", "GetConfirmationView", new { actionId = @action.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "confirmDialog", InsertionMode = InsertionMode.Replace, OnSuccess = "openPopup('#confirmDialog');" }, null)
                </td>
            </tr>
        }
        <tr>
            <td colspan="6">
                @Ajax.ActionLink("Ajouter une action", "GetActionInsertView", "", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "editDialog", InsertionMode = InsertionMode.Replace, OnSuccess = "openPopup('#editDialog');" }, new { @class = "btn btn-success" })
            </td>
        </tr>
    </table>
}
