@using CapaNavDoc.ViewModel
@model UserListViewModel

@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection
{
    Utilisateurs
}

@section HeaderSection
{
    <link href="~/Content/GridViewStyle.css" rel="stylesheet"/>
    <script src="~/Scripts/Validations.js"></script>
    <script src="~/Scripts/Dialog.js"></script>

    <script>
        $(function() {
            InitDialog("UserInsertion", "Ajout d'un utilisateur", "EditForm", 380);
            InitDialogs("UserUpdate", "Mide à jour d'un utilisateur", "EditForm", 380);
            InitDialogs("UserDeletion", "Suppression d'un utilisateur", "ConfirmationForm", 430);
        });
    </script>
}

@section ContentBody
{
    <div>
        <table class="GridViewTable UsersTable">
            <tr>
                <th>
                    Nom
                </th>
                <th>
                    Prénom
                </th>
                <th>
                    Identifiant
                </th>
                <th>
                    Mot de passe
                </th>
                <th>
                    Editer
                </th>
                <th>
                    Supprimer
                </th>
            </tr>
            @for (int i = 0; i < Model.UsersDetails.Count; i++)
            {
                <tr>
                    <td>
                        @Model.UsersDetails[i].LastName
                    </td>
                    <td>
                        @Model.UsersDetails[i].FirstName
                    </td>
                    <td>
                        @Model.UsersDetails[i].UserName
                    </td>
                    <td>
                        @Model.UsersDetails[i].Password
                    </td>
                    <td>
                        <img id="@("UserUpdate-" + @i + "-Opener")" src='/Content/Icons/Pencil-icon.png' alt="Crayon" data-request-id="@Model.UsersDetails[i].Id" />
                        <div id="@("UserUpdate-"+@i)" data-request-url="@Url.Action("GetUserUpdateView")" ></div>
                    </td>
                    <td>
                        <img id="@("UserDeletion-" + @i + "-Opener")" src='/Content/Icons/Close-2-icon.png' alt="Croix" data-request-id="@Model.UsersDetails[i].Id" />
                        <div id="@("UserDeletion-"+@i)" data-request-url="@Url.Action("GetConfirmationView")"></div>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="6">
                    <button id="UserInsertion-Opener">Ajouter un utilisateur</button>
                    <div id="UserInsertion" data-request-url="@Url.Action("GetUserInsertView")"></div>
                </td>
            </tr>
        </table>
    </div>
}

