@* ReSharper disable Html.PathError *@
@using CapaNavDoc.ViewModel.User
@model UserEditionViewModel

<link href="~/Content/EditFormStyle.css" rel="stylesheet"/>

<form id="EditForm" action="/User/EditUser" method="post">
    <input id="EditionModeInput" type="hidden" name="EditionMode" value="@Model.EditionMode" />
    <input id="UserId" type="hidden" name="Id" value="@Model.Id" />
    <table class="EditFormTable">
        <tr>
            <td>
                Nom:
            </td>
            <td>
                <input id="LastNameTextBox-val.Required" type="text" name="LastName" value="@Model.LastName"
                       message="Le nom est obligatoire." 
                       validatorLabelId="LastNameValidationMessage"/><br/>
                <label id="LastNameValidationMessage"></label>
            </td>
        </tr>
        <tr>
            <td>
                Prénom:
            </td>
            <td>
                <input id="FirstNameTextBox-val.Required" type="text" name="FirstName" value="@Model.FirstName"
                       message="Le prénom est obligatoire."
                       validatorLabelId="FirstNameValidationMessage"/><br />
                <label id="FirstNameValidationMessage"></label>
            </td>
        </tr>
        <tr>
            <td>
                Identifiant:
            </td>
            <td>
                <input id="UserNameTextBox-val.Required" type="text" name="UserName" value="@Model.UserName"
                       message="L'identifiant est obligatoire."
                       validatorLabelId="UserNameValidationMessage"/><br />
                <label id="UserNameValidationMessage"></label>
            </td>
        </tr>
        <tr>
            <td>
                Mot de passe:
            </td>
            <td>
                <input id="PasswordTextBox-val.Required" type="text" name="Password" value="@Model.Password"
                       message="Le mot de passe est obligatoire."
                       validatorLabelId="PasswordValidationMessage"/><br />
                <label id="PasswordValidationMessage"></label>
            </td>
        </tr>
    </table>
</form>

<script>
    $("input").input();
</script>