@* ReSharper disable Html.PathError *@

@using CapaNavDoc.ViewModel
@model CenterUsersViewModel

@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection
{
    Utilisateurs d'un Atelier
}

@section HeaderSection
{
    <link href="~/Content/GridViewStyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
}

@section ContentBody
{
    <div class="PageTitle">
        Gestion des utilisateur de l'atelier @Model.CenterName.
    </div>

    <div>
        <table class="GridViewTransfertTable">
            <tr>
                <td>
                    Utilisateurs de l'atelier
                </td>
                <td>
                </td>
                <td>
                    Utilisateurs enregistrés
                </td>
            </tr>
            <tr>
                <td>
                    <table class="GridViewTable TransfertCenterUserTable-Left">
                        <tr>
                            <th>
                                Nom
                            </th>
                            <th>
                                Prénom
                            </th>
                            <th>
                                Retirer
                            </th>
                        </tr>
                        @foreach (UserDetailsViewModel user in Model.CenterUsersDetails)
                        {
                            <tr>
                                <td>
                                    @user.LastName
                                </td>
                                <td>
                                    @user.FirstName
                                </td>
                                <td>
                                    <a href="/Center/TransfertUser?centerId=@Model.CenterId&userId=@user.Id&transfertAction=Remove"><img src="~/Content/Icons/Actions-go-next-icon.png" alt="Right Arrow"/></a>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="3"></td>
                        </tr>
                    </table>

                </td>
                <td>
                    <img src="~/Content/Icons/Arrows-icon.png" alt="Left-Right Arrow"/>
                </td>
                <td>
                    <table class="GridViewTable TransfertUserTable-Right">
                        <tr>
                            <th>
                                Ajouter
                            </th>
                            <th>
                                Nom
                            </th>
                            <th>
                                Prénom
                            </th>
                        </tr>
                        @foreach (UserDetailsViewModel user in Model.UsersDetails)
                        {
                            <tr>
                                <td>
                                    <a href="/Center/TransfertUser?centerId=@Model.CenterId&userId=@user.Id&transfertAction=Add"><img src="~/Content/Icons/Actions-go-previous-icon.png" alt="Left Arrow"/></a>
                                </td>
                                <td>
                                    @user.LastName
                                </td>
                                <td>
                                    @user.FirstName
                                </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="3"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <a class="btn btn-success" href="/Center/Index">Revenir à la liste des ateliers</a>
                </td>
            </tr>
        </table>
    </div>
}

