@* ReSharper disable Html.PathError *@
@using CapaNavDoc.ViewModel.Equipment
@model EquipmentEditionViewModel


<link href="~/Content/EditFormStyle.css" rel="stylesheet" />

<form id="EditForm" action="/Equipment/EditEquipment" method="post">
    @Html.HiddenFor(m => m.EditionMode)
    @Html.HiddenFor(m => m.Id)
    <table class="EditFormTable">
        <tr>
            <td>
                Part Number:
            </td>
            <td>
                @Html.TextBoxFor(m => m.PartNumber)
                @Html.ValidationMessageFor(m => m.PartNumber)
            </td>
        </tr>
        <tr>
            <td>
                Constructeur:
            </td>
            <td>
                @Html.TextBoxFor(m => m.Manufacturer)
                @Html.ValidationMessageFor(m => m.Manufacturer)
            </td>
        </tr>
        <tr>
            <td>
                Désignation:
            </td>
            <td>
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </td>
        </tr>
        <tr>
            <td>Type:</td>
            <td>
                @Html.TextBoxFor(m => m.Type)
            </td>
        </tr>
        <tr>
            <td>
                ATA:
            </td>
            <td>
                @Html.TextBoxFor(m => m.Ata)
                @Html.ValidationMessageFor(m => m.Ata)
            </td>
        </tr>
        <tr>
            <td>
                Domaine d'activité P145:
            </td>
            <td>
                @Html.DropDownListFor(m => m.ActivityFieldId, new SelectList(@Model.ActivityFieldDescriptions))
            </td>
        </tr>
        <tr>
            <td>
                Famille Tech Formation:
            </td>
            <td>
                @Html.TextBoxFor(m => m.MechanicsGroup)
                @Html.ValidationMessageFor(m => m.MechanicsGroup)
            </td>
        </tr>
        <tr>
            <td>
                Documentation:
            </td>
            <td>
                @Html.DropDownListFor(m=>m.MaintenanceDataId, new SelectList(@Model.DocumentsReferences))
            </td>
        </tr>
    </table>
</form>

<script>
    $("input").input();
    $("select").selectmenu({ width: 204 });
</script>

