@* ReSharper disable Html.PathError *@
@* ReSharper disable AccessToModifiedClosure *@

@using CapaNavDoc.ViewModel
@model EquipmentCenterViewModel

<link href="~/Content/CenterActionsStyle.css" rel="stylesheet" /> 
    
<form id="EditForm" method="post" action="/Equipment/UpdateEquipmentCenters">
    <input type="hidden" name="EquipmentId" value="@Model.EquipmentId"/>
    <table class="CenterActionsTable">
        <tr>
            <td></td>
            @foreach (ActionDetailsViewModel action in Model.Actions)
            {
                <td>
                    @action.Description
                </td>
            }
        </tr>
        @for (int i = 0; i < Model.Centers.Count; i++)
        {
            <tr>
                <td>
                    @Model.Centers[i].Name
                    @Html.HiddenFor(m => Model.Centers[i].Id)
                    @Html.HiddenFor(m => Model.Centers[i].Name)
                </td>
                @for (int j = 0; j < Model.Actions.Count; j++)
                {
                    <td>
                        @Html.CheckBoxFor(m => m.Selections[i][j])
                        @Html.HiddenFor(m => Model.Actions[j].Id)
                        @Html.HiddenFor(m => Model.Actions[j].Description)
                    </td>
                }
            </tr>
        }
    </table>
</form>
