@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection
{
    Equipements
}

@section HeaderSection
{
    <link href="~/Content/datatables.css" rel="stylesheet"/>
    <link href="~/Content/MyDataTableStyle.css" rel="stylesheet" />

    <script src="~/Scripts/datatables.js"></script>
    <script src="~/Scripts/Validations.js"></script>
    <script src="~/Scripts/Dialog.js"></script>
    <script src="~/Scripts/MyDataTable.js"></script>

    <script>
        $(function() {
            SetEquipmentDataTable(
                "EquipmentDataTable",
                "/Equipment/AjaxHandler",
                7,
                "@Url.Action("GetEquipmentUpdateView")",
                "Mise à jour d*un équipement",
                480,
                "@Url.Action("GetConfirmationView")",
                "Suppression d*un équipement",
                560,
                "@Url.Action("GetEquipmentMonitoringView")",
                "Mise à jour d*une veuille d*équipement",
                380,
                "@Url.Action("GetEquipmentCenters")",
                "Liens Centres/Actions de l*équipement",
                600,
                "/MaintenanceData/Index"
            );
            document.getElementById("AdministrationLink").className += "ActiveLink";
        });
    </script>
}

@section ContentBody
{
    <div class="PageTitle">
        Gestion des équipements.
    </div>

    <div style="padding: 15px;">
        <table id="EquipmentDataTable" class="display MyDataTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>P/N</th>
                <th>Constructeur</th>
                <th>Désignation</th>
                <th>Type</th>
                <th>ATA</th>
                <th>Domaine d'activité</th>
                <th>Famille Tech</th>
                <th>Référence documentation</th>
                <th>Veille</th>
                <th>At/Ac</th>
                <th>Mod.</th>
                <th>Sup.</th>
            </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
            <tr>
                <td colspan="13"><button id="AddEquipmentButton" type="button" onclick="ShowDialog('Ajout d\'un équipement', 480, '@Url.Action("GetEquipmentInsertView")', 'EditForm', 'EquipmentDataTable');">Ajouter un équipement</button></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <script>
        $("#AddEquipmentButton").button();
    </script>
}

