@* ReSharper disable Html.PathError *@

@using CapaNavDoc.ViewModel
@model EquipmentListViewModel

@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection
{
    Equipements
}

@section HeaderSection
{
    <link href="~/Content/GridViewStyle.css" rel="stylesheet"/>
    <link href="~/Content/datatables.css" rel="stylesheet"/>

    <script src="~/Scripts/datatables.js"></script>
    <script src="~/Scripts/Validations.js"></script>
    <script src="~/Scripts/Dialog.js"></script>
    <script src="~/Scripts/MyDataTable.js"></script>

    <script>
        $(function() {
            SetEquipmentDataTable(
                "EquipmentDataTable",
                "/Equipment/AjaxHandler",
                [
                    { "sName": "PartNumber" },
                    { "sName": "Manufacturer" },
                    { "sName": "Name" },
                    { "sName": "Type" },
                    { "sName": "Ata" },
                    { "sName": "ActivityField" },
                    { "sName": "MechanicsGroup" },
                    { "sName": "DocumentsReferences" },
                    { "sName": "DocumentsPartNumber" }
                ],
                "@Url.Action("GetEquipmentUpdateView")",
                "Mise à jour d*un équipement",
                480,
                "@Url.Action("GetConfirmationView")",
                "Suppression d*un équipement",
                560,
                "@Url.Action("GetEquipmentMonitoringView")",
                "Mise à jour d*une veuille d*équipement",
                460,
                "@Url.Action("GetEquipmentCenters")",
                "Liens Centres/Actions de l*équipement",
                600
            );
            document.getElementById("AdministrationLink").className += "ActiveLink";
        });
    </script>
}

@section ContentBody
{
    <div class="PageTitle">
        Gestion des équipements.
    </div>

    <div style="padding: 15px;">
        <table id="EquipmentDataTable" class="display">
            <thead>
            <tr>
                <th>ID</th>
                <th>P/N</th>
                <th>Constructeur</th>
                <th>Désignation</th>
                <th>Type</th>
                <th>ATA</th>
                <th>Domaine d'activité</th>
                <th>Famille Tech</th>
                <th>Référence documentation</th>
                <th>P/N documentation</th>
                <th>Ateliers/Actions</th>
                <th>Veille</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button id="AddEquipmentButton" type="button" onclick="ShowDialog('Ajout d\'un équipement', 480, '@Url.Action("GetEquipmentInsertView")', 'EditForm', 'EquipmentDataTable');">Ajouter un équipement</button></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <script>
        $("#AddEquipmentButton").button();
    </script>
}

