@using CapaNavDoc.ViewModel.MaintenanceData
@model MaintenanceDataIndexViewModel

@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection
{
    Données d'entretien
}

@section HeaderSection
{
    <link href="~/Content/datatables.css" rel="stylesheet"/>
    <link href="~/Content/MyDataTableStyle.css" rel="stylesheet"/>

    <script src="~/Scripts/datatables.js"></script>
    <script src="~/Scripts/Validations.js"></script>
    <script src="~/Scripts/Dialog.js"></script>
    <script src="~/Scripts/MyDataTable.js"></script>

    <script>
        $(function() {
            SetMaintenanceDataDataTable(
                "MaintenanceDataDataTable",
                "/MaintenanceData/AjaxHandler",
                8,
                "@Url.Action("GetMaintenanceDataUpdateView")",
                "Mise à jour d'une donnée d*entretien",
                420,
                "@Url.Action("GetConfirmationView")",
                "Suppression d*une donnée d'entretien",
                460,
                "@Url.Action("GetEquipmentMonitoringView")",
                "Mise à jour d'une veille de donnée d'entretien",
                420,
                "@Url.Action("GetPdfDocument")",
                "Documentation PDF",
                420,
                "@Model.MaintenanceDataName"
            );
        document.getElementById("AdministrationLink").className += "ActiveLink";
    });
    </script>
}

@section ContentBody
{
    <div class="PageTitle">
        Gestion des données d'entretien.
    </div>

    <div style="padding: 15px;">
        <table id="MaintenanceDataDataTable" class="display MyDataTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Emetteur</th>
                <th>Doc Ref</th>
                <th>Doc P/N</th>
                <th>Révision</th>
                <th>Date</th>
                <th>Désignation</th>
                <th>Mention Certificat</th>
                <th>Veille</th>
                <th>PDF</th>
                <th>Mod.</th>
                <th>Sup.</th>
            </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td colspan="13"><button id="AddMaintenanceDataButton" type="button" onclick="ShowDialog('Ajout d\'une donnée d\'entretien', 420, '@Url.Action("GetMAintenanceDataInsertView")', 'EditForm', 'MaintenanceDataDataTable');">Ajouter une donnée d'entretien</button></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <script>
        $("#AddMaintenanceDataButton").button();
    </script>
}