@* ReSharper disable Html.PathError *@
@using CapaNavDoc.ViewModel.MaintenanceData
@model MaintenanceDataEditionViewModel


<link href="~/Content/EditFormStyle.css" rel="stylesheet" />

<form id="EditForm" action="/MaintenanceData/EditMaintenanceData" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(m => m.EditionMode)
    @Html.HiddenFor(m => m.Id)
    <table class="EditFormTable">
        <tr>
            <td>
                Type:
            </td>
            <td>
                @Html.TextBoxFor(m => m.Type)
                @Html.ValidationMessageFor(m => m.Type)
            </td>
        </tr>
        <tr>
            <td>
                Emetteur:
            </td>
            <td>
                @Html.TextBoxFor(m => m.Sender)
                @Html.ValidationMessageFor(m => m.Sender)
            </td>
        </tr>
        <tr>
            <td>
                Référence Document:
            </td>
            <td>
                @Html.TextBoxFor(m => m.DocumentReference)
                @Html.ValidationMessageFor(m => m.DocumentReference)
            </td>
        </tr>
        <tr>
            <td>
                P/N Document:
            </td>
            <td>
                @Html.TextBoxFor(m => m.DocumentPartNumber)
            </td>
        </tr>
        <tr>
            <td>
                Révision:
            </td>
            <td>
                @Html.TextBoxFor(m => m.Review)
                @Html.ValidationMessageFor(m => m.Review)
            </td>
        </tr>
        <tr>
            <td>
                Date:
            </td>
            <td>
                @Html.TextBoxFor(m => m.Date, new {@id = "ReviewDate" })
                @Html.ValidationMessageFor(m => m.Date)
            </td>
        </tr>
        <tr>
            <td>
                Désignation:
            </td>
            <td>
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </td>
        </tr>
        <tr>
            <td>
                Mention certificat:
            </td>
            <td>
                @Html.DropDownListFor(m => m.OnCertificate, new SelectList(new[] {"Oui", "Non"}), new {@id= "CertificateSelection" })
            </td>
        </tr>
        <tr>
            <td>
                Documentation PDF:
            </td>
            <td>
                <button id="FileUploadButton" type="button">Sélectionner un fichier</button>
                <input id="FileUpload" type="file" name="FileUpload" accept=".pdf" style="display: none;" />
            </td>
        </tr>
    </table>
    
</form>

<script>
    $("#FileUploadButton").button();
    $("#FileUploadButton").on("click", function() {
        $("#FileUpload").click();
    });
    
    $("input").input();

    $('input[id="ReviewDate"]').datepicker({
        dateFormat: "dd-mm-yy",
        dayNames: [ "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche" ],
        dayNamesMin: ["Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa" ],
        firstDay: 1,
        monthNames: [ "Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Décembre" ]
    });

    $("#CertificateSelection").selectmenu({ width: 204 });
</script>